.section{
	padding: 40px 10px;
	text-align: center;
}
.headerTitle{
	width: 50%;
	margin: 0 auto 30px;
	padding-bottom: 10px;

	text-align: center;
	font-size: 34px;
	font-weight: bolder;
	border-bottom: 1px solid rgba(156, 138, 92, 1);
	color: rgba(156, 138, 92, 1);
	& span{
font-weight: 100;
	}
}